body {
    background-image: url("../images/grass.jpg");
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    color: black;
}

h1 {
    color: black;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}


.container {
    margin: 20px;
}