body {
    background-color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    color: darkblue;
}

header {
    width: 100%;
    height: 50px;;
    background-color: darkblue;
}

h1 {
    color: whitesmoke;
}

.container {
    margin: 20px;
}